APP_ENV=development
PORT=8080
DATABASE_DSN=host=localhost user=postgres password=postgres dbname=testarise port=5432 sslmode=disable TimeZone=UTC
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=25
DB_CONN_MAX_LIFETIME=30m
REDIS_ADDR=localhost:6379
REDIS_USER_TTL=30s
